[includeIf "gitdir:~/"]
  path = .gitconfig-f0t0n
[includeIf "gitdir:~/code/competera/"]
  path = .gitconfig-competera
[core]
	editor = vim
	excludesfile = ~/.gitignore
[pager]
    branch = false
[push]
	default = simple
[credential]
	helper = cache
[commit]
	gpgsign = true
[gpg]
#	program = /usr/bin/gpg2
    program = /opt/homebrew/bin/gpg
