[Unit]
Description=Sync Clouds Service (Dropbox -> Google Drive)
After=network.target
StartLimitIntervalSec=3

[Timer]
OnActiveSec=10
OnUnitActiveSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User=f0t0n
ExecStart=rclone sync dropbox:password google_drive_personal:Dropbox/password

[Install]
WantedBy=timers.target
