#/etc/systemd/system/sync_clouds@.service
[Unit]
Description=Sync Clouds Service (Dropbox -> %I), \
            where %I could be `google_drive_personal` or `box`. \
            Runs repeatedly with sync_clouds@.timer.

After=network.target
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=always
RestartSec=1
User=f0t0n
ExecStart=rclone sync dropbox:password %i:Dropbox/password
