[Unit]
Description=Run sync_clouds@.service repeatedly for %I cloud

[Timer]
OnBootSec=30sec
Unit=sync_clouds@%i.service
OnActiveSec=10
OnUnitActiveSec=10
Persistent=true

[Install]
WantedBy=timers.target
